{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
    <h1>Register</h1>


        {{ form(registrationForm) }}

    </div>
{% endblock %}
