{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block main %}
    <div class="container justify-content-center">
                <h1 class="align-items-center">Mot de passe oublié</h1>
        <div class="row">
            <div class="col-8">
                {{ form(emailForm) }}

            </div>
        </div>

    </div>
{% endblock %}