/*ALL PAGES*/
#infoNow{
    text-align: right;
    margin-right: 50px;
    float: right;
}

h2{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 25px;
}

#logo{
    height: 50px;
    width: 72px;
}

main{
    margin-bottom:150px;
}

table tr:nth-child(even){
    background-color: #E8E8E8;
}

#foot{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color : white;
    display: flex;
    flex-wrap: wrap;
}

#contact{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
}

#contact h5{
    font-size: 25px;
}

#contact-info li{
    list-style: none;
    width: 85%;
}

#copy{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    height: 25px;
}

/* ------------- Page Accueil ------------- */

#filtreDiv{
    margin-bottom: 50px;
}

#filtreDiv form{
    display: flex;
}
#checkFilter{
    display: block;
}

#listFiltre{
    list-style: none;
}

#LeftFilter{
    width: 500px;
    padding-left: 50px;
}

#LeftFilter div{
    margin-bottom: 5px;
}

#LeftFilter input[type=search]{
    border-radius: 10px;
    padding-left: 10px;
}

#LeftFilter select{
    margin-left: 50px;
}

#checkFilter{
    width: 200px;
    margin-right: 50px;
}

#checkFilter label{
    margin-left: 2px;
}

#BtnFiltre{
    width: 150px;
    height: 100px;
}

#btnCreaSortie{
    margin-top: 5px;
    margin-left: 100px;
    height: 50px;
}

.tableSortie{
    margin:auto;
    width: 90%;
    border: 2px black solid;
    overflow: auto;
    max-height: 400px;
}

.tableSortie td{
    border-right: solid black 2px;
    padding-left: 2px;
}

.tableSortie th{
    border-right: solid black 2px;
    padding-left: 5px;
    background-color: lightgrey;
}

.tableSortie a{
    text-decoration: none;
}

/* ------------- page Profil ------------- */
h3{
    margin: 50px 300px;
    font-size: 35px;
}

.divProfil{
    display: flex;
}

#photoProfil{
    width: 200px;
    height: 200px;
}

#infoProfil{
    margin-bottom: 20px;
}

#labelDetailS{
    width: 100px;
    margin-bottom: 20px;
}

#RetourProfil{
    display: block;
    margin-left: 300px;
    width: 50px;
}

/* ------------- page detail sortie ------------- */
#divSortie{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}

#infoSupSortie{
    margin-left: 50px;
    margin-bottom: 50px;
}

#labelDetailS, #labelAnnulation{
    width: 200px;
    font-weight: bold;
    margin-bottom: 20px;
}

#labelAnnulation{
    width: 250px;
    margin-left: 300px;
    font-size: 20px;
}

#labelSupDetailS{
    width: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

#Detail{
    width: 100px;
    font-weight: bold;
}

#DetailP{
    font-weight: bold;
}

#break{
    width: 100%;
}

#listeParticipant{
    display: block;
}

.tablePSortie{
    width: 200px;
    border: 2px black solid;
    overflow: auto;
    max-height: 300px;
}

.tablePSortie td{
    border-right: solid black 2px;
    padding-left: 2px;
}

.tablePSortie th{
    border-right: solid black 2px;
    padding-left: 5px;
    background-color: lightgrey;
}

/* ------------- page gestion sites ------------- */

#filterSite{
    margin-bottom: 10px;
    margin-left: 15%;
}

.btnGesSite, .btnGesSiteA, #btnAjoutVille{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.btnGesSiteA{
    display: none;
}

.tableAdmin{
    margin-left: 15%;
    border: solid black 2px;
    width: 40%;
    overflow: auto;
    max-height: 400px;
}

.tableAdmin td{
    border-right: solid black 2px;
    padding-left: 2px;
}

.tableAdmin th{
    border-right: solid black 2px;
    padding-left: 5px;
    background-color: lightgrey;
}

.tableAdmin a{
    text-decoration: none;
}

/* ------------- Page gestion Lieu ------------- */

.tableLieu{
    margin-left: 15%;
    border: solid black 2px;
    width: 50%;
    overflow: auto;
    max-height: 400px;
}

.tableLieu td{
    border-right: solid black 2px;
    padding-left: 2px;
}

.tableLieu th{
    border-right: solid black 2px;
    padding-left: 5px;
    background-color: lightgrey;
}

.tableLieu a{
    text-decoration: none;
}

#lieuAjout{
    margin-top: 20px;
    margin-left: 15%;
    display: none;
}

#formAjoutLieu input[type=submit]{
    margin-right: 30px;
}

#formAjoutLieu div{
    margin-bottom: 10px;
}

#btnAjout{
    margin-top: 20px;
    margin-left: 15%;
}

#lbLieu{
    width: 100px;
}

#divCreaVille{
    display: none;
}

#error{
    color: red;
    margin-left: 15%;
}

/* ------------- Affichage Profil ------------- */

#labelProfil{
    font-weight: bold;
    margin-bottom: 10px;
    width: 100px;
}

/* ------------- Page Création Sortie ------------- */

#formSortie > form{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}

#formSortie > form > div{
    margin-right: 100px;
}

#creaSortLieu{
    margin-bottom: 50px;
}
