{% extends 'base.html.twig' %}

{% block title %}Anuller une sortie{% endblock %}

{% block main %}

    <h1>Annuler une sortie</h1>

    {{ sortieAAnnuler.nom }}

    {{ form(sortieAAnnulerForm) }}

{% endblock %}
