{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block main %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(sortieForm) }}
    
    <button><a href=" {{ path('app_lieux') }}">Ajouter un lieu</a></button>

{% endblock %}
