{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}


    <div id="infoNow"><p>Date du jour : {{ dateNow }}</p>
        <p>Participant : Lefebvre Marc</p></div>
    <div class="Filtres"></div>


{% endblock %}
