{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <div id="infoNow">Date du jour : {{ dateNow }}
        Participant : {{ user.nom." ". }}</div>


{% endblock %}
